<div class="row clearfix "  style="padding: 15px 15px;" >
    <div class="col-md-6">
        <h2 class="section-header" >Dashboard</h2>
    </div>
    <div class="col-md-6">
        <div class="md-button-group pull-right" style="margin: 12px 0px; max-width: 450px;">
            <md-button class="md-raised btn-w-xs aso-btn-green"><i class="fa fa-facebook-official"></i> APP</md-button>
            <md-button class="md-raised btn-w-xs aso-btn-blue">APP PROFILE</md-button>
            <md-button class="md-raised btn-w-xs aso-btn-dark-blue">ADD APP</md-button>
        </div>
    </div>
</div>
