<div class="aso-appbar" ng-controller="AppBarCtrl" >
    <div class="row">
        <div class="col-xs-3 aso-header-wrapper">
            <h1 class="section-header">{{header}}</h1>
        </div>
        <div class="col-sm-9 aso-appbar-wrapper">
            <div class="md-button-group aso-btn-group pull-right md-whiteframe-3dp">
                <md-button class="aso-btn-green"><i class="fa fa-facebook-official"></i> APP</md-button>
                <md-button class="aso-btn-blue">APP PROFILE</md-button>
                <md-button class="aso-btn-dark-blue">ADD APP</md-button>
            </div>
        </div>
    </div>
</div>
