<header class="top-header clearfix">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo bg-dark">
        <a href="#!/">
            <span class="logo-icon"><img src="../../assets/images/logo/logo_blue_1_36.png"></span>
            <span class="logo-text"><img src="../../assets/images/logo/logo_blue_2_36.png"></span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li><md-button class="header-btn toggle-min" data-toggle-nav-collapsed-min aria-label="toggle-nav-collapsed-min"><i class="material-icons">menu</i></md-button></li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">
            <li style="padding-right: 100px">
                <md-menu md-position-mode="target-right target">
                    <md-button class="header-btn" aria-label="menu" ng-click="$mdMenu.open($event)" style="padding: 0 15px 0">
                        <i class="fa fa-user" style="font-size: 30px; text-align: center;"></i>
                        <span style="padding-left: 15px">{{main.name}}</span>
                    </md-button>
                    <md-menu-content class="top-header-dropdown" width="3">
                        <md-menu-item><md-button aria-label="menu" ng-href="#!/"><md-icon class="material-icons">assignment</md-icon><span data-translate="DASHBOARD"></span></md-button></md-menu-item>
                        <md-menu-item><md-button aria-label="menu" ng-href="#!/page/profile"><md-icon class="material-icons">lock_outline</md-icon><span data-translate="MY_PROFILE"></span></md-button></md-menu-item>
                        <md-menu-item><md-button aria-label="menu" ng-href="#!/page/signin"><md-icon class="material-icons">keyboard_tab</md-icon><span data-translate="LOG_OUT"></span></md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </li>
            <li class="hidden-xs hidden-sm" data-ng-controller="LangCtrl as ctrl">
                <md-menu md-position-mode="target-right target">
                    <md-button class="active-flag" aria-label="menu" ng-click="$mdMenu.open($event)">
                        <div class="flag flags-{{activeLang}}"></div>
                    </md-button>
                    <md-menu-content width="3" class="langs">
                        <md-menu-item ng-repeat="lang in langs">
                            <md-button ng-click="setLang(lang)">
                                <div class="flag flags-{{lang}}"></div>
                                <span class="lang-text" >{{lang}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </li>
        </ul>
    </div>
</header>
