<div class="nav-wrapper">
    <div class="nav-image"></div>
    <ul id="nav" style="padding-top: 18px;"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a md-button aria-label="menu" href="#!/dashboard"><i class="material-icons">home</i>
            <span data-translate="Dashboard"></span></a></li>
        <li>
            <a md-button aria-label="menu" href="#"><i class="fa fa-globe"></i>
                <span data-translate="Market Analysis"></span></a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#"><i class="fa fa-user-secret"></i>
                <span data-translate="Competitors Analysis"></span></a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#"><i class="fa fa-key"></i>
                <span data-translate="ASO Tools"></span></a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#"><i class="fa fa-rocket"></i>
                <span data-translate="App Promotion"></span></a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#"><i class="fa fa-user"></i>
                <span data-translate="Profile"></span></a>
        </li>
    </ul>
</div>
