.flags-sprite,
.flags-EN,
.flags-CH,
.flags-FR,
.flags-GE,
.flags-IT,
.flags-JA,
.flags-KO,
.flags-PO,
.flags-RU,
.flags-SP{background-image:url('ui/images/flags.png');background-repeat:no-repeat}
.flags-EN{background-position:0 0;height:32px;width:32px}
.flags-CH{background-position:0 -32px;height:32px;width:32px}
.flags-FR{background-position:0 -64px;height:32px;width:32px}
.flags-GE{background-position:0 -96px;height:32px;width:32px}
.flags-IT{background-position:0 -128px;height:32px;width:32px}
.flags-JA{background-position:0 -160px;height:32px;width:32px}
.flags-KO{background-position:0 -192px;height:32px;width:32px}
.flags-PO{background-position:0 -224px;height:32px;width:32px}
.flags-RU{background-position:0 -256px;height:32px;width:32px}
.flags-SP{background-position:0 -288px;height:32px;width:32px}
