@import "../ui/buttons";

$padding-top-bottom: 37px;
$app-bar-height: ($padding-top-bottom * 2) + $btn-height;

.aso-appbar {
    padding: $padding-top-bottom 0;

    .row {
        .aso-header-wrapper {
            height: $btn-height;

            h1 {
                line-height: 13px;
                word-wrap: normal;
                white-space: nowrap;
            }

        }

        @media (max-width: 556px) {
            margin-bottom: 10px;
        }

        .aso-appbar-wrapper {
            height: $btn-height;

            .aso-lang-text {
                text-transform: capitalize !important;;
                padding: 0 5px 0 0 !important;
            }
        }
    }
}

.aso-dropdown-content {
    padding: 0;
    border-radius: 0 0 0 2px;
    border-width: 1px 0 1px 1px;
    md-menu-item {
        width: $long-btn-width - 6px;
        min-height: auto;
        height: auto;

        > a.md-button {
            padding: 14px 16px 9px;
        }
    }

    md-icon {
        font-size: 18px;
        vertical-align: text-top;
    }
}

.md-open {
    .aso-dropdown-icon {
        transform: rotate(180deg);
    }
}
