@import "../ui/buttons";

$padding-top-bottom: 37px;
$app-bar-height: ($padding-top-bottom * 2) + $btn-height;

.aso-appbar {
    padding: $padding-top-bottom 0;

    .row {
        .aso-header-wrapper {
            height: $btn-height;

            h1 {
                line-height: 13px;
                word-wrap: normal;
                white-space: nowrap;
            }
        }

        @media (max-width: 556px) {
            margin-bottom: 10px;
        }

        .aso-appbar-wrapper {
            height: $btn-height;

        }
    }
}
