@import "appbar";

.nav-image {
    background-image: url(../../assets/images/background/3.jpg);
    background-size: cover;
    width: 100%;
    height: $app-bar-height;
    margin-bottom: 18px;

    transition: width, height 0.25s ease-in-out;

    @media (max-width: 556px) {
        height: $app-bar-height + $btn-height + 10px;
    }
}
